* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    color: #EEEEEE;
}

figcaption {
    color: #EEEEEE;
}

.my-first-pic {
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 5px solid;
    border-color: #FFD369;
    display: block;
    margin: 30px auto;
    border-style: double;
}

#section p {
    text-align: center;
}

a {

    color: #EEEEEE;
}

a:hover {
    font-size: 120%;
    color: #FFD369;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    border-color: #222831;
    border-top-style: solid;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #FFD369;
    padding-bottom: 5px;
    padding-top: 30px;
}

.fig-desc {
    color: #EEEEEE;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
}

ul {
    color: #EEEEEE;
    text-align: left;
    line-height: 30px;
    list-style-position: outside;
}

p.welcome {
    color: #FFD369;

}

p.description {
    color: #B6BBC4;
    line-height: 30px;
}

section {
    padding: 50px 30px;
}

#home {
    background-color: #393E46;
    margin-top: 50px;
}

#about {
    background-color: #222831;
}

#projects {
    background-color: #393E46;
}

#contact {
    background-color: #222831;
    color: #B6BBC4;
}

.section-header {
    text-align: center;
}

.yellow-btn {
    background-color: #FFD369;
    border-color: #EEEEEE;
    border-radius: 5px;
    border-style: none;
    width: 150px;
    height: 50px;
    color: #222831;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #393E46;
    color: #EEEEEE;
    padding: 15px;
}

.contact-section {
    width: 100%;
    /*max-width: 40rem;*/
    margin-left: auto;
    margin-right: auto;
    /*padding: 3rem 1rem;*/
}

.contact-intro>*+* {
    margin-top: 1rem;
}

.contact-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.contact-description {
    color: rgb(107 114 128);
}

.contact-form {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
    color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

.form-textarea {
    min-height: 120px;
}

.form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: #3124ca;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
}
/* meida query for tablets and iPads*/
@media (min-width: 480px) {
    section {
        padding-right: 10%;
        padding-left: 10%;
    }


    .my-first-pic {
        float: right;
        width: 70%;
        margin-top: 0;
    }

}

/* media query for laptops */
@media (min-width: 768px) {
    section {
        padding-right: 15%;
        padding-left: 15%;
    }

    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }

    .my-first-pic {
        float: right;
        width: 50%;
        margin-left: 5%;
        margin-top: 0;
    }

    p {
        font-size: 20px;
        line-height: 1.6;
    }

}

/* media query for larger screens */
@media (min-width: 1024px) {
    .my-first-pic {
        width: 30%;
    }

    .project-img {
        width: 80%;
    }
}