* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    color: #EEEEEE;
}

figcaption {
    color: #EEEEEE;
}

.my-first-pic {
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 5px solid;
    border-color: #FFD369;
    display: block;
    margin: 30px auto;
    border-style: double;
}

#section p {
    text-align: center;
}

a {

    color: #EEEEEE;
}

a:hover {
    font-size: 120%;
    color: #FFD369;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    border-color: #222831;
    border-top-style: solid;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #FFD369;
    padding-bottom: 5px;
    padding-top: 30px;
}

.fig-desc {
    color: #EEEEEE;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
}

ul {
    color: #EEEEEE;
    text-align: left;
    line-height: 30px;
    list-style-position: outside;
}

p.welcome {
    color: #FFD369;

}

p.description {
    color: #B6BBC4;
    line-height: 30px;
}

.icons {
    text-align: center;
    margin: 30px auto 0 auto;
    width: 100%;
}

.icons a {
    text-decoration: none;
    color: #B6BBC4;
    padding: 0 15px;
}

.icons a:hover {
    font-size: 150%;
    color: #FFD369;
}

section {
    padding: 50px 30px;
}

#home {
    background-color: #393E46;
    margin-top: 50px;
}

#about {
    background-color: #222831;
}

#projects {
    background-color: #393E46;
}

#contact {
    background-color: #222831;
    color: #B6BBC4;
}

.section-header {
    text-align: center;
}

.yellow-btn {
    background-color: #FFD369;
    border-color: #EEEEEE;
    border-radius: 5px;
    border-style: none;
    width: 150px;
    height: 50px;
    color: #222831;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #393E46;
    color: #EEEEEE;
    padding: 15px;
}

/* meida query for tablets and iPads*/
@media (min-width: 480px) {
    section {
        padding-right: 10%;
        padding-left: 10%;
    }


    .my-first-pic {
        float: right;
        width: 70%;
        margin-top: 0;
    }

}

/* media query for laptops */
@media (min-width: 768px) {
    section {
        padding-right: 15%;
        padding-left: 15%;
    }

    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }

    .my-first-pic {
        float: right;
        width: 50%;
        margin-left: 5%;
        margin-top: 0;
    }

    p {
        font-size: 20px;
        line-height: 1.6;
    }

}

/* media query for larger screens */
@media (min-width: 1024px) {
    .my-first-pic {
        width: 30%;
    }

    .project-img {
        width: 80%;
    }
}